{% extends 'front.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    <section id="user-login" class="user-login">    
        <div class="row">
            <div class="container">
                <h1>Réinitialisation de mot de passe</h1>
                {{ form_start(passForm, {'attr': {'class': 'php-email-form', 'novalidate': 'novalidate'}}) }}
                    {{ form_row(passForm.password) }}
           
                {{ form_end(passForm) }}
            </div>
        </div>
    </section>

{% endblock %}