{% extends 'front.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    <section id="user-login" class="user-login">
        <div class="container">
            <div class="col">
                <h1>Réinitialisation de mot de passe</h1>
                {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
                {{ form_start(requestPassForm, {'attr': {'class': 'php-email-form', 'novalidate': 'novalidate'}}) }}
                    {{ form_row(requestPassForm.email) }}
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                {{ form_end(requestPassForm) }}
            </div>
        </div>
        
    </section>
{% endblock %}
