{% extends 'admin.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ✅</h1>

    Bienvenue sur notre plateforme de gestion de photos Shouting !

    Que vous soyez un passionné de photographie ou un professionnel à la recherche d'un moyen simple et efficace pour organiser et gérer votre collection de photos, vous êtes au bon endroit.
    
    Notre interface conviviale et intuitive vous permet de télécharger, trier et cataloguer vos images en un clin d'œil. Explorez les fonctionnalités avancées pour marquer, étiqueter et rechercher facilement vos clichés préférés.
    
    Grâce à nos outils de gestion de photos avancés, vous pouvez créer des albums personnalisés, partager vos moments capturés avec le monde entier ou simplement garder une bibliothèque privée et sécurisée de vos souvenirs les plus précieux.
</div>
{% endblock %}
