{% extends 'front.html.twig' %}
{% block title %}Studio Prestige - Réservations{% endblock %} 
{% block hero %}
  
            
{% endblock %}
 

{% block body %}
  <section id="booking" class="booking">

  <div class="container">
    <div class="row">
      
        <h1>Formulaire de résérvation</h1>
        
      <!-- /.col-lg-4 -->
      

    </div>
      
  </div>

    
  </section><!-- End Services Section -->

  <!-- ======= Pricing Section ======= -->
  

{% endblock %}
